<app-header></app-header>

<section class="h-100 gradient-form">
    <div class="container py-5 h-100">
        <div class="row d-flex justify-content-center align-items-center h-100">
            <div class="col-xl-10">
                <div class="card rounded-3 text-black">
                    <div class="row g-0">
                        <div class="col-lg-12">
                            <div class="card-body p-md-5 mx-md-4" >

                                <div class="text-center">
                                    <img src="https://seeklogo.com/images/N/netflix-n-logo-0F1ED3EBEB-seeklogo.com.png"
                                         alt="logo">
                                    <h4 class="mt-1 mb-5 pb-1"><span class="gradient-text">{{"Login" |
                                          translate}}</span>
                                    </h4>

                                </div>

                                <form [formGroup]="loginForm" (ngSubmit)="onLogin()">

                                    <div class="form-outline mb-4">
                                        <label class="form-label" for="form2Example22" >{{ "Email" | translate }} </label>
                                        <input type="email" id="form2Example22" class="form-control" placeholder="Email"
                                            formControlName="email">

                                    </div>

                                    <div class="form-outline mb-4">
                                        <label class="form-label" for="form2Example22">{{"Password" |
                                            translate}}</label>
                                        <input type="password" id="password" class="form-control"
                                            placeholder="Confirm Password" formControlName="password">

                                    </div>

                                </form>

                                <div class="text-center">
                                    <button class="btn btn-primary btn-block fa-lg gradient-custom-2 mb-3" type="button"
                                        (click)="onLogin('Firebase')" [disabled]="!loginForm.valid">{{"Login with Firebase" |
                                        translate}}</button>
                                </div>

                                <div class="text-center">
                                    <button class="btn btn-primary btn-block fa-lg gradient-custom-2 mb-3" type="submit"
                                        [disabled]="!loginForm.valid">{{"Login" |
                                        translate}}
                                    </button>
                                </div>

                                <div class="d-flex align-items-center justify-content-center pb-4">
                                    <p class="mb-0 me-2 have-account">{{"Don't Have an account?" | translate}}</p>
                                    <button type="button" class="btn btn-outline-danger"
                                        routerLink="/register">{{"Register" |
                                        translate}}</button>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
