
.movie-container {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
    background-color: #000000;
    padding: 10px;
    border: 1px solid var(--Movie-Red);
}

.movie-image {
    flex: 1;
    max-width: 100px;
    margin-right: 20px;
}

.movie-image img {
    width: 100%;
    height: auto;
}

.movie-details {
    flex: 1;
}


    
    body {
        background-image: url('https://i.pinimg.com/originals/b0/eb/41/b0eb41bdb91e75f326a0b1056fa088c6.jpg');
        background-size: 100% 100%; /* Set the background image to cover the entire page */
        background-repeat: no-repeat;
        background-attachment: fixed;
        color: white; 
        margin: 0; 
        padding: 0; 
        overflow: hidden;
    }

